$main-font: 'Roboto','Helvetica', sans-serif;
$main-color-text: #111827;
$main-color-text-hover: rgba(51, 51, 51, 0.5);
$color-text-1: rgba(255, 255, 255, 1);
$size-screen-tablet: 1024px;
$size-screen-mobile: 767px;
$color-background: rgba(84, 193, 255, 1);
$color-background-1: rgba(217, 237, 249, 1);
$color-background-2:rgba(255, 255, 255, 1);
$color-background-3:rgba(248, 250, 252);
$color-background-4: rgba(0, 0, 0, 0.7);